requirements:

  - src: "{{ my_git_user }}@gitserver.mydomain.com:/export/gitrepo/ansible-projects/srv1.example.com"
    name: srv1

  - src: "{{ my_git_user }}@gitserver.mydomain.com:/export/gitrepo/ansible-projects/srv2.example.com"
    name: srv2
