git_user="admin"
git_module="false"
owner="admin"
owner_group="admin"
mode="u=+rwX,g=+rX-w,o=-rwx"
base_dir="/home/${owner}/.ansible"
repos_dir="${base_dir}"
roles_dir="${base_dir}/roles"
projects_dir="${base_dir}/projects"
runner_dir="${base_dir}/runner"
workbench_dir="${base_dir}/ansible-workbench"
