[defaults]
inventory = $PWD/hosts
roles_path = $PWD/../roles
retry_files_enabled = false
# stdout_callback = yaml

[ssh_connection]
pipelining = true

[colors]
deprecate = bright purple
changed = purple

# EOF
